name: Build
on:
  push:
    branches: [main, dev]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'temurin'
      - name: "Build with Gradle"
        uses: gradle/gradle-build-action@v3
        env:
          REPO_USERNAME: ${{ secrets.KALIMERO2_REPO_USERNAME }}
          REPO_PASSWORD: ${{ secrets.KALIMERO2_REPO_SECRET }}
        with:
          arguments: build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          path: |
            dclink-hytale/build/libs/*.jar
            dclink-paper/build/libs/*.jar
            dclink-velocity/build/libs/*.jar
            dclink-fabric/versions/*/build/libs/*.jar
            dclink-neoforge/versions/*/build/libs/*.jar
