name: Build
on:
  push:
    branches: [main, dev]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'temurin'
      - name: "Build with Gradle"
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          path: "**/dclink-*/build/libs/*.jar"
